<div class="Fix">
    <br>
    <h1 style="margin-left: 10%; margin-right: 10%;">Reviews</h1>
    <div style="margin-left: 10%; margin-right: 10%; margin-top: 50px;">
        <ngx-slick-carousel class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig">
            
            <div ngxSlickItem *ngFor="let slide of CurrentReviewDisplayedOnPage" class="slide">
                <h3 classs="Title">{{slide.id}}</h3>
                <p class="Price">{{slide.ReviewContent}}</p>

            </div>
        </ngx-slick-carousel>
        <a id="btn" aria-current="page" class="buy-btn" [routerLink]="['/reviews-page', product.id]" routerLinkActive="active">Make Review for {{this.product.title}}</a>
    </div>
</div>
