.AdminControlPanel{

    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}



.Controls-Container{
    display: grid;
    width: 90%;
    height: 100%;
    column-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 35% 35% 35% 35%  ;
    
}


.Controler-Menu-point{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.Menu-point-Text{
    text-align: center;
    font-size: 1.5vw;
    text-wrap: wrap;
    font-family: monospace;

}