<div class="AdminControlPanel">
    <div class="Controls-Container">
        <div class="Controler-Menu-point" routerLink="/UserControl">
           
                <span class="Menu-point-Text"><b>User Controls</b></span>

        </div>
        <div class="Controler-Menu-point" routerLink="/AdminControl">
            <span class="Menu-point-Text"><b>Admin user Controls</b></span>

        </div>
        <div class="Controler-Menu-point" routerLink="/AdminControl">
            <span class="Menu-point-Text"><b>Products Controls</b></span>

        </div>
        <div class="Controler-Menu-point" routerLink="/AdminControl">
            <span class="Menu-point-Text"><b>Company Controls</b></span>

        </div>
        <div class="Controler-Menu-point" routerLink="/AdminControl">
            <span class="Menu-point-Text"><b>Product variants Controls</b></span>
        </div>
    </div>
    
</div>
