<div class="AdminControlPanel">
    <div class="Controls-Container">
        <div class="Controler-Menu-point" routerLink="UserControl">
           
                <span class="Menu-point-Text"><b>User Controls</b></span>

        </div>
        <div class="Controler-Menu-point" routerLink="admin-user-control">
            <span class="Menu-point-Text"><b>Admin user Controls</b></span>

        </div>
        <div class="Controler-Menu-point" routerLink="product-control">
            <span class="Menu-point-Text"><b>Products Controls</b></span>

        </div>
        <div class="Controler-Menu-point" routerLink="CompanyControlComponent">
            <span class="Menu-point-Text"><b>Company Controls</b></span>

        </div>
        <div class="Controler-Menu-point" routerLink="product-variants-control">
            <span class="Menu-point-Text"><b>Product variants Controls</b></span>
        </div>
        <div class="Controler-Menu-point" routerLink="categories-control">
            <span class="Menu-point-Text"><b>Categories Controls</b></span>
        </div>
    </div>
    
</div>

<router-outlet></router-outlet>
