<div class="UserControl">
  <ul class="nav nav-pills nav-fill menu" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active"
        id="Created-tab"
        data-bs-toggle="pill"
        data-bs-target="#Created"
        type="button"
        role="tab"
        aria-controls="Created"
        aria-selected="true"
      >
        Created
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="Updated-tab"
        data-bs-toggle="pill"
        data-bs-target="#Updated"
        type="button"
        role="tab"
        aria-controls="Updated"
        aria-selected="false"
      >
        Updated
      </button>
    </li>
    <li class="nav-item " role="presentation">
      <button
        class="nav-link"
        id="pills-contact-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-contact"
        type="button"
        role="tab"
        aria-controls="pills-contact"
        aria-selected="false"
      >
        Deleted
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link"
        id="pills-disabled-tab"
        data-bs-toggle="pill"
        data-bs-target="#pills-disabled"
        type="button"
        role="tab"
        aria-controls="pills-disabled"
        aria-selected="false"
      >
        Select
      </button>
    </li>
  </ul>







  <div class="tab-content tab-container" id="pills-tabContent ">
    <div
      class="tab-pane fade show active TabContent"
      id="Created"
      role="tabpanel"
      aria-labelledby="Created-tab"
      tabindex="0"
    >
    <div class="Create " >
    <form [formGroup]="Create" (ngSubmit)="SubmitCreated()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="NameLabel">Username</span>
        <input class="form-control" id="UserName" placeholder="Test" aria-label="Username" formControlName="Username">
      </div>

      <div class="input-group mb-3 gap-5">
        <span class="" >Gender:</span>

      
        <div class="form-check">
          <input class="form-check-input" type="radio" [value]="true"  id="GenderMale" aria-label="Gender" formControlName="Gender">
          <label class="form-check-label" for="GenderMale" id="GenderLabel"  >Male</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio"  id="GenderFemale" [value]="false" aria-label="Gender"  formControlName="Gender">
          <label class="form-check-label" for="GenderFemale" id="GenderLabel"  >Female</label>
        </div>

      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="EmailLabel">Email</span>
        <input class="form-control" type="email" id="Email" placeholder="Test@Test.dk" aria-label="Email"  formControlName="Email">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="EmailLabel">Password</span>
        <input class="form-control" id="Password" type="password" placeholder="*********" aria-label="Password"  formControlName="Password">
      </div>
      

      <div class="input-group mb-3 d-flex justify-content-center">
        <button class="btn btn-primary" [disabled]="!Create.valid" type="submit">Submit</button>
      </div>

    </form>
    </div>
    




  </div>
    <div
      class="tab-pane fade TabContent"
      id="Updated"
      role="tabpanel"
      aria-labelledby="Updated-tab"
      tabindex="0"
    >
    <div class="Update" >
      <form [formGroup]="Update" (ngSubmit)="SubmitUpdate()">
        <div class="input-group mb-3">
          <label class="input-group-text" id="NameLabel" for="UserSelect" >User</label>
          <select id="UserSelect" class="form-select" formControlName="User" aria-label="Select user to update" aria-placeholder="Select user to update">
            <option value="" selected >Choose a User to Update</option>
            <option *ngFor="let usr of UsersList" [value]="usr.username" >{{usr.username}}</option>
          </select>
        </div>


        <div class="input-group mb-3">
          <span class="input-group-text" id="NameLabel">Username</span>
          <input class="form-control" id="UserName" placeholder="Test" aria-label="Username" formControlName="Username">
        </div>
  
        <div class="input-group mb-3 gap-5">
          <span class="" >Gender:</span>
  
        
          <div class="form-check">
            <input class="form-check-input" type="radio" [value]="true"  id="GenderMale" aria-label="Gender" formControlName="Gender">
            <label class="form-check-label" for="GenderMale" id="GenderLabel"  >Male</label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio"   id="GenderFemale" [value]="false" aria-label="Gender"  formControlName="Gender">
            <label class="form-check-label" for="GenderFemale" id="GenderLabel"  >Female</label>
          </div>
  
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="EmailLabel">Email</span>
          <input class="form-control" type="email"  id="Email" placeholder="Test@Test.dk" aria-label="Email"  formControlName="Email">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="EmailLabel">Password</span>
          <input class="form-control" id="Password" type="password" placeholder="*********" aria-label="Password"  formControlName="Password">
        </div>
        
  
        <div class="input-group mb-3 d-flex justify-content-center">
          <button class="btn btn-primary" [disabled]="!Update.valid" type="submit">Submit</button>
        </div>
  
      </form>
      </div>
      
  
    </div>
    <div
      class="tab-pane fade"
      id="pills-contact"
      role="tabpanel"
      aria-labelledby="pills-contact-tab"
      tabindex="0"
    >
      ...
    </div>
    <div
      class="tab-pane fade"
      id="pills-disabled"
      role="tabpanel"
      aria-labelledby="pills-disabled-tab"
      tabindex="0"
    >
      ...
    </div>
  </div>
</div>
