

.UserControl{
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    flex-direction: column;
}

.menu{
    width: 90%;
}

.TabContent{
    width: 75%;
    height: 75%;
    margin-top: 5%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
 
    margin: 20px auto;
    padding: 40px;
}
.tab-container{
    width:75%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.Create{
    height: 50%;
    gap: 10% ;
}

input.ng-invalid.ng-touched{
    border: red 2px solid;
}
.Select{

}



.SelectTab{
    width: 100%;
    height: 90%;

}

.Select-Container{
    display: grid;
    width: 100%;
    height: 100%;
    column-gap: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 35% 35% 35% 35%  ;
  
    justify-content: center;
}


.Select-Card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.Card-Text{
    text-align: center;
    font-size: 1.5vw;
    text-wrap: wrap;
    font-family: monospace;

}
