html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-column {
    width: 30%;
    position: relative;
}

.left-column img {
    width: 100%;
}

.right-column {
    width: 35%;
    margin-left: 20px;
}

.product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
}

.product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

.product-description h1 {
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
}

.product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
}

.product-price {
    display: flex;
    align-items: center;
}

.product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
}

.buy-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
}

.buy-btn:hover {
    background-color: #2980b9;
}
