<main class="container">
 
    <div class="left-column">
        <img  [src]="product.images[0].imagePath" alt="Product 1">
    </div>
    <div class="right-column">
      <span class="product-category">{{product.productCategories.name}}</span>
      <div class="product-description">
        <h1>{{product.title}}</h1>
        <p>{{product.description}}</p>
      </div>
      <div *ngIf="variants.length != 0" class="variant-selection">
        
        <select id="variant" class="form-select" [(ngModel)]="SelectedVariant" (ngModelChange)="SelectOnChange()" >
          <option *ngFor="let variant of variants" [value]="variant" >{{variant.name}}</option>
        </select>
      </div>
      <div class="product-price">
        <span>${{product.price}}</span>
        <a (click)="AddToBasket($event)" aria-current="page" class="buy-btn">Add to basket</a>
      </div>
    </div>
  </main>
  <app-carousel-reviews></app-carousel-reviews>