<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="Checkout-Content">


<div class="checkout-container">
    <h2>Checkout</h2>
  
    <div class="order-summary">
      <h3>Order Summary</h3>
      <ul>
        <li *ngFor="let detail of basketItems.basketDetails">
          <div class="basket-detail" >
            <div class="Product-Img">
              <img [src]="(detail.products == undefined ? detail.variant.parentProduct : detail.products ).images[0].imagePath" class="Img" alt="Product-Img">
            </div>
            <div class="Product-Title-container">
              <span class="Product-Title">
                {{ (detail.products == undefined ? detail.variant.name : detail.products.title )}}

              </span>
            </div>
            <div class="Product-Price-container">
              <span class="Product-Price">

                {{ (detail.products == undefined ? detail.variant : detail.products ).price| currency }}
              </span>
              
            </div>
            <div class="Product-Quantity-container">
              <span class="Product-Quantity">

                {{detail.quantity}}
              </span>
              
            </div>

          </div>
        </li>
      </ul>
      <p><strong>Total: {{calculateTotal()| currency }}</strong> </p>
    </div>
  
    <div class="billing-details">
      <h3>Billing Details</h3>
      <form  [formGroup]="UserInfo" (ngSubmit)="GenerateOrder()">
        <label for="fullName">Full Name:</label>
        <input type="text" id="fullName" name="fullName" type="text" formControlName="fullName" >
  
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" >
  
        <label for="address">Address:</label>
        <textarea id="address" name="address" formControlName="address" ></textarea>
  
        <button type="submit">Place Order</button>
        <div class="w3-panel w3-red" *ngIf="basketItems.basketDetails.length == 0">
          <h3>ERROR</h3>
          <p>Your Basket is empty! Please add items if you wish to place an order.</p>
        </div>
      </form>
    </div>
  </div>
</div>