.App-Root-Container{
    width: 100%;
    height: 100%;

    /* background-color: var(--background) !important; */
}


.navbar-container{
    width: 100%;
    height: 5%;
    display: block;
    /* height: 50%; */
    
/*     background-color: var(--background-nav);
 */     /*color: var(--text) !important;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid; */
}


.Content{
    width: 100%;
    padding-top: 3%;
    
    
    

}