
.navbar{
    /* height: 15%;
  width: 100%; */
    /* color: white !important;
    background-color: var(--background) !important; */
    position: fixed;
    z-index: 3;
    width: 100%;

}

.logo {
    width: 15%;
}

.navbar-logo{
    height: 50%;
}



