<!-- 
<div class="NavBar d-flex justify-content-evenly w-100 align-items-center">
    <div class="logo d-flex justify-content-center align-items-center">
        <a href="/">
            <img class="navbar-logo" src="/sdad">
        </a>
    </div>
    <div class="Routing">
        <a href="/">Home</a>
        <a href="/">Products categories</a>
        <a href="/">FAQ</a>
        <a href="/">Contact</a>
    </div>
    <div class="UserOptions">
        
        <div class="MyProfile">
            MyProfile
        </div>
        <div class="Sign in">
            Sign in
        </div>
        <div class="Sign out">
            Sign out
        </div>
    </div>
</div> -->


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/home-page" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="/product-page" routerLinkActive="active">Products</a>
        </li>
        
        <a class="nav-link " aria-current="page" routerLink="/checkout-page" routerLinkActive="active">Checkout</a>

        <a class="nav-link " aria-current="page" routerLink="/carousel" routerLinkActive="active">carousel</a>
        
        <a class="nav-link" aria-current="page" routerLink="/admin-page" routerLinkActive="active" *ngIf="canShowLink()"> Admin Page</a>

        <li class="nav-item" >
          <a class="nav-link" routerLink="/Login" routerLinkActive="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
              <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
            </svg>
          </a>
        </li>
        <li class="nav-item" >

        <a class="nav-link " aria-current="page" routerLink="/profile" routerLinkActive="active" >
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
          </svg>
        </a>
      </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="d-flex" style="margin-inline: 30px;" (click)="changeBasket()">

        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
      </div>
      
    </div>
  </div>
  <app-basket #Basket></app-basket>
</nav>


