<div class="Fix">
    <br>
    <h1 style="margin-left: 10%; margin-right: 10%;">Some Products</h1>
    <div style="margin-left: 10%; margin-right: 10%; margin-top: 50px;">
        <ngx-slick-carousel class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig">
            
            <div ngxSlickItem *ngFor="let slide of CurrentProductsDisplayedOnPage" class="slide">
                <img src="{{slide.images[0]?.imagePath}}" alt="" class="img-style">
                <h3>{{slide.title}}</h3>
                <p>{{slide.price}}</p>
                <p>{{slide.description}}</p>
                <a (click)="AddToBasket(slide)" aria-current="page" class="buy-btn">Add to basket</a>
                </div>
        </ngx-slick-carousel>
    </div>
</div>
