<div class="ImagesControl">
    <ul class="nav nav-pills nav-fill menu" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="Product-tab"
          data-bs-toggle="pill"
          data-bs-target="#Created"
          type="button"
          role="tab"
          aria-controls="Created"
          aria-selected="true"
        >Created
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="Updated-tab"
          data-bs-toggle="pill"
          data-bs-target="#Updated"
          type="button"
          role="tab"
          aria-controls="Updated"
          aria-selected="false"
        >
          Updated
        </button>
      </li>
      <li class="nav-item " role="presentation">
        <button
          class="nav-link"
          id="pills-contact-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-contact"
          type="button"
          role="tab"
          aria-controls="pills-contact"
          aria-selected="false"
        >
          Deleted
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="pills-disabled-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-disabled"
          type="button"
          role="tab"
          aria-controls="pills-disabled"
          aria-selected="false"
        >
          Select
        </button>
      </li>
    </ul>
  
  
  
  
  
  
    
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="Created"
        role="tabpanel"
        aria-labelledby="Created-tab"
        tabindex="0"
      >
      <form [formGroup]="createForm" (submit)="create()">
      <h1>Create Image</h1>
      <div>
        <label for="output">Image</label>
        <img id="output" [src]="createForm.get('urlCreate')?.value">
      </div>  
      <div>
        <label for="photo">Url</label>
        <input id="photo" type="url" formControlName="urlCreate">
        </div>
        <br>
        <button type="submit" class="btn"id="Create">Create &#8594;</button>
      </form>
    </div>
      <div
        class="tab-pane fade"
        id="Updated"
        role="tabpanel"
        aria-labelledby="Updated-tab"
        tabindex="0"
      >
      <form [formGroup]="updateForm" (submit)="update()" autocomplete="new-password">
        <h1>Update Product with Image</h1>
          <div>
            <label>Image from DB</label>
            <img [src]="updateForm.get('imageUpdate')?.value">
          </div>  
            <div>
              <label for="imageUpdate">Url</label>
              <select id="imageUpdate" formControlName="imageUpdate" aria-label="Select image to update" aria-placeholder="Select image to update">
                  <option selected value="" >Choose an Image to update</option>
                  <option *ngFor="let image of images" [value]="image.imagePath">{{image.id}}</option>
              </select>
            </div>
            <div>
              <label>Image from User</label>
              <img [src]="updateForm.get('urlUpdate')?.value">
            </div>  
            <div>
                <label for="urlUpdate">Url</label>
                <input id="urlUpdate" type="url" formControlName="urlUpdate" placeholder="Insert url for new image">
            </div>
        <br>
      
        <button type="submit" class="btn"id="Update">Update &#8594;</button>
      </form>
      </div>
      <div
        class="tab-pane fade"
        id="pills-contact"
        role="tabpanel"
        aria-labelledby="pills-contact-tab"
        tabindex="0"
      >
      <form [formGroup]="deleteForm" (submit)="delete()" autocomplete="new-password">
        <h1>Delete Image</h1>
        <div>
          <label>Image</label>
          <img [src]="deleteForm.get('imageDelete')?.value?.imagePath">
        </div>
        <div>
        <label for="imageDelete">Url</label>
        <select id="imageDelete" formControlName="imageDelete" aria-label="Choose an Image to Delete" aria-placeholder="Choose an Image to Delete">
            <option selected value="" >Choose an Image to Delete</option>
            <option *ngFor="let image of images" [ngValue]="image">{{image.id}}</option>
        </select>
      </div>
      <br>
        <button type="submit" class="btn"id="Delete">Delete &#8594;</button>
        </form>
      </div>
      <div
        class="tab-pane fade"
        id="pills-disabled"
        role="tabpanel"
        aria-labelledby="pills-disabled-tab"
        tabindex="0"
      >
      <form [formGroup]="selectForm">
        <h1>Select Image</h1>
        <div>
          <label>Image</label>
          <img [src]="selectForm.get('imageSelect')?.value?.imagePath">
        </div>
        <div>
        <label for="imageSelect">Url</label>
        <select id="imageSelect" formControlName="imageSelect" aria-label="Select image to update" aria-placeholder="Select image to update">
            <option selected value="" >Choose an Image to update</option>
            <option *ngFor="let image of images" [ngValue]="image">{{image.id}}</option>
        </select>
      </div>
      </form>
      </div>
    </div>
  </div>
  