.add-review{
    border : 1px solid #ccc;
    padding: 10px;
}

.add-review, .add-review textarea{
    width: 100%;
    margin-bottom: 10px;
}

.add-review button{
    background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.add-review button:hover {
    background-color: #0056b3;
  }

  .rating{
    direction: rtl;
    float: left
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
  }
  
  .rating label:hover,
  .rating label:hover ~ label {
    color: #fdd835;
  }

  input[type="radio"]:checked ~ label {
    color: #fdd835;
  }