<div class="product-card">
    <div class="d-flex flex-column w-100 h-100 product-card-Container">
            <img loading="lazy" [src]="product.images[0].imagePath" alt="Product 1">
        
        <div class="product-info">
            <span  class="filterTitle">{{product.title}}</span>
            <p>{{product.description}}</p>
            <p>
                <strong>${{product.price}}</strong>
            </p>
            <div class="button-qty-container">
                <button (click)="AddToBasket($event)" aria-current="page" class="buy-btn">Add to basket</button>
                <div class="qty">
                    <span (click)="SubtractProductQuantity(product)">-</span>
                    <strong>{{product.Quantity}}</strong>
                    <span (click)="AddProductQuantity(product)">+</span>
                </div>
            </div>
        </div>
    </div>
</div>