body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  .container {
    max-width:80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: fit-content;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
  }

  .product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
  }

  .product-card:hover {
    transform: scale(1.05);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .product-info {
    padding: 15px;
  }

  h2 {
    margin-top: 0;
    color: #333;
  }

  p {
    color: #666;
  }

  .buy-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .buy-btn:hover {
    background-color: #2980b9;
  }


  .productPageCompontent{
    width: 95%;
    display: flex;
    justify-content: center;
    margin-left: 3%;
    margin-left: 3%;
  }