<div [@BasketAnimation]="BasketState" class="Basket">
<div class="sidecart">
  <div class="cart-content">
    <!--Cart Header-->
    <div class="cart-header">
      <div class="header-title">
      <h2>Your Cart</h2>
      </div>
    </div>
    <!--Cart Items-->
    <div class="cart-items">
      <div class="cart-item" *ngFor="let basketDetail of basket.basketDetails">
        <div class="remove-item">
          <span>&times;</span>
        </div>
        <div class="item-img">
          <img  [src]="basketDetail.products.images[0].imagePath" alt="Product Image">
        </div>
        <div class="item-details">
          <p>{{basketDetail.products.title}}</p>
          <strong>{{basketDetail.products.price | currency}}</strong>
          <div class="qty">
            <span>-</span>
            <strong>{{basketDetail.quantity}}</strong>
            <span (click)="AddProductUsingQtyClick(basketDetail.products)">+</span>
          </div>
        </div>
      </div>
    </div>
    <!--Cart Actions-->
    <div class="cart-actions">
      <div class="subtotal">
        <p>SUBTOTAL</p>
        <p><span id="subtotal-price">{{calculateTotal()| currency }}</span></p>
      </div>
      <button routerLink="checkout-page">Checkout</button>
      <button (click)="closeBasket()">close</button>
    </div>
  </div>
</div>