<div [@BasketAnimation]="BasketState" class="Basket">
    <div class="BasketContent">   
        <section>
            <div class="container">
                <table class="table shop-table">
                    <tr>
                      <th class="b-0">Title</th>
                      <th class="b-0">Price</th>
                      <th class="b-0 text-right">Total Price</th>
                    </tr>
                    <tr *ngFor="let details of basket.basketDetails">
                      <td>{{ details.products.title }}</td>
                      <td>{{ details.products.price }}</td>
                      <td class="text-right">
                        <h5 class="font-medium m-b-30">{{ details.products.price }}</h5>
                      </td>
                    </tr>
                    <tr>
                      <!-- <td colspan="3" align="right">Subtotal : 100 {{ carts.subTotal }} </td> -->
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>
